<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="closeModel()">
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add record</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="income" [(ngModel)]="type">
      <ion-segment-button value="income">
        <ion-label>Income</ion-label>
      </ion-segment-button>
      <ion-segment-button value="expense">
        <ion-label>Expense</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-select *ngIf="type == 'income'" placeholder="Category" [(ngModel)]="category">
      <ion-select-option *ngFor="let incomeCategory of incomeCategoryList" [value]="incomeCategory.income_id">{{incomeCategory.income_category}}</ion-select-option>
    </ion-select>
    <ion-select *ngIf="type == 'expense'" placeholder="Category" [(ngModel)]="category">
      <ion-select-option *ngFor="let expenseCategory of expenseCategoryList" [value]="expenseCategory.expense_id">{{expenseCategory.expense_category}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Amount</ion-label>
    <ion-input type="number" placeholder="Enter amount" [(ngModel)]="amount"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Note</ion-label>
    <ion-textarea rows="4" placeholder="Describe here" [(ngModel)]="note"></ion-textarea>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="submitModel()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>