.input-txt {
  width: 100%;
  padding: 12px 10px;
  margin: 0px 0px 16px;
  display: inline-block;
  border: 1px solid #dcdce0;
  box-sizing: border-box;
  background: #fff !important;
  color: #000 !important;
  border-radius: 5px;
}

.input-type {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #dcdce0;
}
