<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="closeModel()">
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Course Inquiry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="vertical_centr">
  <ion-row style="padding: 5px 10px;margin: 0;">
    <ion-col size="12">
      <p class="inputTitle">Name</p>
    </ion-col>

    <ion-col size="12">
      <input type="text" placeholder="Please enter your name" [(ngModel)]="inquiryForm.name" class="input-type" required>
    </ion-col>

    <ion-col size="12">
      <p class="inputTitle">Mobile</p>
    </ion-col>

    <ion-col size="12">
      <input type="number" placeholder="Please enter your mobile number" [(ngModel)]="inquiryForm.mobile" class="input-type" required>
    </ion-col>

    <ion-col size="12">
      <p class="inputTitle">Message</p>
    </ion-col>

    <ion-col size="12">
      <textarea type="text" class="input-txt" placeholder="Please enter Reason For Inquiry"
        [(ngModel)]="inquiryForm.inquiryFor" style="height: 140px;" required></textarea>
    </ion-col>
  </ion-row>

  <!-- Button -->
  <ion-row style="padding: 0px 10px 15px;">
    <ion-col size="12">
      <ion-button type="button" class="loginBtn" (click)="checkValidation()">
        Submit Inquiry</ion-button>
    </ion-col>
  </ion-row>
</ion-content>