.input-txt {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0px 16px;
    display: inline-block;
    border: 1px solid #304863;
    box-sizing: border-box;
    background: #fff !important;
    color: #000 !important;
}

/* Set a style for all buttons */
.loginBtn {
    background-color: #284299 !important;
    color: white !important;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold !important;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.avatar {
    height: 100px;
    border-radius: 10px;
}
.container {
    padding: 16px;
    label{
        color: black !important
    }
}

span.psw {
    float: right;
    padding-top: 16px;
    margin-top: 10px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    max-width: 450px;
    border-radius: 5px;
    padding: 15px;
}
