<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="main-title">Document</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="isFileAvailable">
      <ion-col size="12" style="display: flex;justify-content: center;">
        <img src="../../../assets/imgs/pdf.png">
      </ion-col>

      <ion-col size="12">
        <ion-button type="button" (click)="downloadDocument()" class="document-btn">Download Document</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row *ngIf="!isFileAvailable">
      <ion-col size="12" style="display: flex;justify-content: center;">
        <p style="font-size: 30px;font-weight: bold;">File not found!</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
