<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="main-title">Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of calculatorList">
        
        <div class="main-card" (click)="openPage(item)">
          <p style="font-size: 18px;margin-bottom: 0px;">{{item.title}}</p>
         </div>
       </ion-col>
     </ion-row>
  </ion-grid>
</ion-content>
