<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="main-title">Payment Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let paymentInfo of paymentInfoList">
    <ion-card-header>
      <ion-card-title>{{paymentInfo.bank_account_name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p style="user-select: all;">Bank Name: {{paymentInfo.bank_name}}</p>
      <p style="user-select: all">Branch Name: {{paymentInfo.branch_name}}</p>
      <p style="user-select: all">Account Number: {{paymentInfo.account_no}}</p>
      <p style="user-select: all">IFSC Code: {{paymentInfo.ifsc_code}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
