
<!-- For Signup -->
<ion-content class="vertical_centr" *ngIf="isSignup">
  <img src="assets/imgs/logo.png" alt="" class="signupLogoImg">
  <ion-row style="padding: 5px 10px;margin: 0;">
    <ion-col size="12">
      <p class="inputTitle">Name</p>
    </ion-col>

    <ion-col size="12">
      <input type="text" placeholder="Please enter your name" [(ngModel)]="account.name" class="input-type" required>
    </ion-col>

    <ion-col size="12">
      <p class="inputTitle">Email</p>
    </ion-col>

    <ion-col size="12">
      <input type="email" placeholder="Please enter your email" [(ngModel)]="account.email" class="input-type" required>
    </ion-col>

    <ion-col size="12">
      <p class="inputTitle">Mobile</p>
    </ion-col>

    <ion-col size="12">
      <input type="number" placeholder="Please enter your mobile number" [(ngModel)]="account.mobile" class="input-type" required>
    </ion-col>

    <ion-col size="12">
      <p class="inputTitle">Password</p>
    </ion-col>

    <ion-col size="12">
      <input type="password" placeholder="Please enter password" [(ngModel)]="account.password" class="input-type">
    </ion-col>
  </ion-row>

  <!-- Button -->
  <ion-row style="padding: 0px 10px 15px;">
    <ion-col size="12">
      <ion-button type="button" class="loginBtn" (click)="checkValidation()" style="margin-top: 20px;">
        Signup</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button (click)="signIn()" type="button" class="loginBtn">Sign in</ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<!-- For Login -->
<ion-content padding *ngIf="!isSignup" class="vertical_centr" style="overflow-y: hidden;">
  <img src="assets/imgs/logo.png" alt="" class="loginLogoImg">
  <ion-row style="padding: 5px 10px;margin: 0;">
    <ion-col size="12">
      <p class="inputTitle">Email</p>
    </ion-col>

    <ion-col size="12">
      <input type="email" placeholder="Please enter your email" [(ngModel)]="signInObj.email" class="input-type" required>
    </ion-col>

    <ion-col size="12">
      <p class="inputTitle">Password</p>
    </ion-col>

    <ion-col size="12">
      <input type="password" placeholder="Please enter password" [(ngModel)]="signInObj.password" class="input-type">
    </ion-col>
  </ion-row>
  <!-- Button -->
  <ion-row style="padding: 0px 10px 15px;">
    <ion-col size="12">
      <ion-button type="button" class="loginBtn" (click)="doLogin()" style="margin-top: 20px;">
        Login</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button (click)="openSignupUI()" type="button" class="loginBtn">Signup</ion-button>
    </ion-col>
  </ion-row>
</ion-content>