<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list" style="padding: 0px !important;border-bottom: 0px !important;">
          <!-- <img src="../assets/icon.png" style="width: 29%;"> -->
          <h2 class="story-main-title">Welcome Vishal Vanani</h2>
          <h4 class="story-sub-title"></h4>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectIndex(p)" routerDirection="root" 
              lines="none" detail="false" [class.selected]="alertService.selectedIndex == i">
              <ion-icon [name]="p.icon" style="width: 24px;margin-right: 25px;"></ion-icon>
              <ion-label class="side-menu-title">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <!-- <ion-footer>
        <p style="float: right;margin-right: 15px;">App Version:- v1.0.1</p>
      </ion-footer> -->
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
