<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="main-title">Shah Financial Consultancy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 <ion-grid>
   <ion-row>
     <ion-col size="6" *ngFor="let item of commonService.mainPageCategory">
       <div class="main-card" (click)="openPage(item)">
         <img [src]="item.icon">
        </div>
      </ion-col>
    </ion-row>

    <!-- Video Section -->
    <ion-row>
      <ion-col size="12">
        <h4 style="font-weight: bold;">Videos</h4>
      </ion-col>

      <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }" 
        style="width: 980px;height: auto;overflow: scroll;-webkit-overflow-scrolling: touch;">
        <ion-slide *ngFor="let video of videoList" style="width: 235px;margin-right: 10px;">
          <ion-col style="padding: 0px;">
            <ion-card style="margin: 0px !important;">
              <ion-card-header style="padding: 0px !important;height: 150px !important;">
                <iframe style="width: 100%;height: 100%;" [src]="video.url | safe" frameborder="0" allowfullscreen></iframe>
              </ion-card-header>
              <ion-card-subtitle class="videoCard">Uploaded on: {{ video.upload_date }}</ion-card-subtitle>
            </ion-card>
          </ion-col>
        </ion-slide>
      </ion-slides>
    </ion-row>
 </ion-grid>
</ion-content>