<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="main-title">Income Expense</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Date</ion-label>
    <ion-input type="month" [value]="currentDate"></ion-input>
  </ion-item>
  
  <ion-item class="ion-no-padding" style="border-top: 2px solid #999;">
    <ion-row class="totalAmount">
      <ion-col size="8" style="padding-left:15px">Total Income</ion-col>
      <ion-col size="4" class="ion-text-end">{{ totalIncome }}</ion-col>
    </ion-row>
  </ion-item>

  <ion-item class="ion-no-padding" *ngFor="let x of incomeArray; let i = index">
    <ion-row class="subAmount">
      <ion-col size="8" style="padding-left:15px">
        <div *ngFor="let incomeCategory of incomeCategoryList;let i=index">
          <p style="margin: 0px !important;" *ngIf="incomeCategory.income_id === x.category">{{incomeCategory.income_category}}</p>
          <p style="margin: 0px !important;" *ngIf="!x.category && i == 0">-</p>
        </div>
      </ion-col>
      <ion-col size="1" class="ion-text-end vertical_centr"><ion-icon name="create" (click)="presentSmartPopup('edit', x, i)"></ion-icon></ion-col>
      <ion-col size="3" class="ion-text-end">{{ x.amount }}</ion-col>
    </ion-row>
  </ion-item>
 
  <ion-item class="ion-no-padding" style="border-top: 2px solid #999;">
    <ion-row class="totalAmount">
      <ion-col size="8" style="padding-left:15px">Total Expense</ion-col>
      <ion-col size="4" class="ion-text-end">{{ totalExpense }}</ion-col>
    </ion-row>
  </ion-item>

  <ion-item class="ion-no-padding" *ngFor="let x of expenseArray; let i = index">
    <ion-row class="subAmount">
      <ion-col size="8" style="padding-left:15px">
        <div *ngFor="let expenseCategory of expenseCategoryList;let i=index">
          <p style="margin: 0px !important;" *ngIf="expenseCategory.expense_id === x.category">{{expenseCategory.expense_category}}</p>
          <p style="margin: 0px !important;" *ngIf="!x.category && i == 0">-</p>
        </div>
      </ion-col>
      <ion-col size="1" class="ion-text-end vertical_centr"><ion-icon name="create" (click)="presentSmartPopup('edit', x, i)"></ion-icon></ion-col>
      <ion-col size="3" class="ion-text-end">{{ x.amount }}</ion-col>
    </ion-row>
  </ion-item>
  
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="presentSmartPopup('add')">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
