<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="main-title">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid style="margin-top: 25px;">
    <ion-row>
      <ion-col size="12" style="font-size: 18px;text-align: center;">
        We at the Shah Financial Consultancy, in the practice of delivering a full
        range of financial products and services to clients, so that those clients
        can achieve specific financial goals.
      </ion-col>

      <ion-col size="12" style="font-size: 18px;text-align: center;">
        From clients point of view, we are in the practice of solving or enhancing
        their financial situation and achieving short-term, medium-term, and
        long-term financial goals with the help of a financial adviser.
      </ion-col>

      <ion-col size="12" style="font-size: 18px;text-align: center;">
        We focuses on delivering ongoing expertise to High Net-worth Individuals,
        Families, SMEs, and Trusts helping them achieve their financial goals with
        the help of financial planning.
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
