<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="main-title">Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<!-- For Update Profile -->
<ion-content padding class="vertical_centr">
  <ion-row style="padding: 5px 10px;margin: 0;">
    <ion-col size="12">
      <p class="inputTitle">Name</p>
    </ion-col>

    <ion-col size="12">
      <input type="text" placeholder="Please enter your name" [(ngModel)]="account.e_name" class="input-type" required>
    </ion-col>

    <ion-col size="12">
      <p class="inputTitle">Email</p>
    </ion-col>

    <ion-col size="12">
      <input type="email" placeholder="Please enter your email" [(ngModel)]="account.user_id" class="input-type" required>
    </ion-col>

    <ion-col size="12">
      <p class="inputTitle">Mobile</p>
    </ion-col>

    <ion-col size="12">
      <input type="number" placeholder="Please enter your mobile number" [(ngModel)]="account.e_mob" class="input-type" required>
    </ion-col>
  </ion-row>

  <!-- Button -->
  <ion-row style="padding: 0px 10px 15px;">
    <ion-col size="12">
      <ion-button type="button" class="loginBtn" (click)="updateProfile()">
        Update Profile</ion-button>
    </ion-col>
  </ion-row>
</ion-content>