<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="main-title">Courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let course of courses" (click)="openCourse(course)">
    <ion-card-header>
      <ion-card-title>{{course.course_title}}</ion-card-title>
    </ion-card-header>
    <!-- <ion-card-content>{{course.course_desc}}</ion-card-content> -->
  </ion-card>
</ion-content>
